<div class="row align-center">
  <div class="column medium-6 small-12 edit-main">
    <div class="row align-center form-register">
      <div class="column medium-12 small-12">
        <h3 class="text-center form-logo">Edit Profile</h3>
        <%= render 'devise/registrations/edit_form' %>
      </div>
    </div>
  </div>
</div>
