<div class="row small-12 align-center show-for-small-only  mobile-search">
  <div class="column small-10">
    <input class="nav-search" type="text" placeholder="search">
  </div>
</div>

<div class="row align-center">
  <div class="column small-12 large-7">
    <%= render @users %>
  </div>
</div>
