<%#= javascript_include_tag params[:controller] %>
<% provide(:title, "Hyra") %>

<div class="row align-center" id="posts">
  <% if @posts.empty? %>
      <div class="callout primary">No post posted!</div>
  <% else %>
      <%= render @posts%>
  <% end %>
</div>