$logo-color: #6ed3cf;
$background-color: white;//#fafafa;
$loginregister-color: #bbb;

.top-bar {
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  position: fixed;
  background-color: $background-color;
  padding: 0px;
  box-shadow: 0 0 5px rgba(0,0,0,.10);
  border: 1px solid rgba(0,0,0,.1);
  margin-bottom: 30px;

  .top-bar-nav {
    position: relative;
  }

  .logo-wrapper{
    position: absolute;
    display: block;
    z-index: 100;
    margin-right: 0;

    strong a{
      font-size: 45px;
      font-family: 'Yellowtail', cursive;
      color: $logo-color;
    }
  }

  .nav-search {
    margin: 5px 0 0 0;
    height: 30px;
    font-size: 12px;
    border-radius: 5px;
  }

  .categories {
    height: 75px;
    padding: 28px 0 0 110px;
    ul {
        margin: 0;
        background-color: inherit;
        font-size: 14px;

      li {
        color: #999;
        padding-left: 10px;
        margin: 0;
        display: inline;

      }
    }

    a{
      color: $loginregister-color;

      &:hover {
        color: #555;
      }
    }

  }

  .love-category {
    margin-bottom: 20px;
  }
}

.activeNav{
  color: #555 !important;
  border-bottom: 2px #6ed3cf solid;
}