$logo-color: #6ed3cf;
$background-color: #fafafa;
$loginregister-color: #404040;

.top-bar {
  margin-top: 10px;
  background-color: $background-color;
  padding: 0px;
  //border-bottom: 1px #dbdbdb solid;
  margin-bottom: 30px;

  strong a{
    font-family: 'Yellowtail', cursive;
    color: $logo-color;
  }

  a{
    color: $loginregister-color;
     .fa-home{
       margin-top: 15px;
    }
  }


  .nav-link {
    line-height: 2.3em;
    a {
      color: black;
    }

    a:hover {
      border-bottom: 1px black solid;
    }
  }

  .nav-search {
    margin: 5px 0 0 0;
    height: 30px;
    font-size: 12px;
    border-radius: 5px;
  }
}