.show-post {
  background-color: white;
  border: 1px #efefef solid;
  box-shadow: 0 0 0 1px rgba(0,0,0,.04);
  border-radius: 3px;

  .post-title{
    margin: 20px 0 20px 0;
    font-size: 26px;
    font-weight: bold;
  }

  .post-content{
    white-space: pre-line;
    line-height: 135%;
    font-size: 15px;
    color: #666666;
  }

  .post-tags {
    margin-top: 15px;
    font-size: 12px;
    color: #bababa;
  }

  .post-social {
    margin-top: 30px;

    .fa-heart-o {
      color: #6ed3cf;
    }

    .fa-comments-o {
      margin-left: 15px;
    }

    .fa-facebook-square {
      color: #3b5998;
      margin-right: 15px;
    }

    .fa-twitter {
      color: #2eacf6
    }
  }

  .show-post-uimg {
    padding-right: 0;
    margin: 30px 0 15px 0;
    .thumbnail{
      height: 60px;
      width: 60px;
      border-radius: 50%;
      border: 1px solid white;
      margin-bottom: 0px;
      margin-right: 5px;
      padding-right: 0px;
    }
  }

  .showt-post-unt {
    margin-top: 30px;
    padding-left: 0;

    .show-post-um {
      font-size: 14px;
      padding-left: 0;
    }

    .show-post-time {
      font-size: 10px;
      color: #bababa;
      padding-left: 0;
    }
  }
}