.show-post {
  background-color: white;
  box-shadow: 0 0px 5px rgba(0,0,0,.1);
  border: 1px solid rgba(0,0,0,.1);
  border-radius: 3px;

  .post-title{
    h3 {
      color: #3f3f3f;
      font-weight: bold;
      padding: 10px 10px 10px 0;
      margin: 0;
    }
  }

  .post-content{
    font-size: 15px;
    color: #666666;

    br {
      display: none;
    }

    img {
      opacity: .7;
      display: block;
    }
  }

  .post-tags {
    margin-top: 15px;
    font-size: 12px;
    color: #bababa;
  }

  .post-social {
    margin-top: 30px;

    span {
      color: #6ed3cf;
    }

    .fa-heart-o {
      color: #6ed3cf;
    }

    .fa-comments-o {
      color: #6ed3cf;
    }

    .fa-facebook-square {
      color: #3b5998;
      margin-right: 15px;
    }

    .fa-twitter {
      color: #2eacf6
    }
  }

  .show-post-uimg {
    padding-right: 0;
    margin: 30px 0 30px 0;

    .thumbnail{
      height: 60px;
      width: 60px;
      border-radius: 50%;
      border: 1px solid white;
      margin-bottom: 0px;
      margin-right: 5px;
      padding-right: 0px;
    }

    .show-post-um {
      font-size: 14px;
      padding: 0px;
      a {
        margin-bottom: 10px;
        color: #999;
      }
    }
  }

  .show-post-time {
    font-size: 12px;
    color: #bababa;
    padding: 15px 15px 0 15px;
  }
}

@media only screen and (max-width: 640px) {

  .post-content{

    img {
      height: auto !important;
    }

  }

}